.season-episodes {
    margin-top: 20px;
  }
  
  .season {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    transition: background-color 0.2s, transform 0.2s;
    margin: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .season.selected {
    background-color: #e0e0e0;
  }
  
  .episode {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.2s, transform 0.2s;
    margin: 5px;
  }
  
  .episode:hover {
    background-color: #d9d9d9;
    transform: translateY(-2px);
  }
  