#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ee2626;
}


/* Centering the show-list container */
.app-container {
  text-align: center;
  padding: 2rem;
}

.show-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Optionally adjust the width of the ShowList */
.show-list {
  max-width: 1200px; /* Adjust this as needed */
  width: 100%;
}
